.content {
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.rock,
.paper,
.scissors {
    font-size: 48px;
    width: 75px;
}

.player-choice,
.computer-choice {
    font-size: 48px;
}

#result {
    display: flex;
    justify-content: center;
}

.scoreboard-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    margin: 0 auto;
}